# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Database files (if any)
*.sqlite3

# dotenv file with secrets
.env

# VSCode settings
.vscode/

# MacOS
.DS_Store

# Logs
*.log
